#!/bin/sh
export REPLWM_PROJECT_ROOT="$PWD"
export REPLWM_SYSTEM_PATH="$PWD"/src/replwm/system.lisp
export REPLWM_ASDF_PATH="$PWD"/src/replwm/replwm.asd
export CL_SOURCE_REGISTRY="$PWD"/src/clx:"$PWD"/src/wm-test
export PATH="$PWD"/bin:"$PATH"
