#!/bin/sh
# Convenient environment variables for hacking on the project.
# Feel free to change whatever you like in here while you're
# developing; its only purpose is to make playing with the
# window manager more convenient.
export PATH="$PWD"/bin:"$PATH"
ORIGINAL_DISPLAY="$DISPLAY"
if [ -z "$ORIGINAL_DISPLAY" ]; then
    ORIGINAL_DISPLAY=":0"
fi
export ORIGINAL_DISPLAY
export DISPLAY=":1"
export CL_SOURCE_REGISTRY="$PWD"/src/clx:"$PWD"/src/wm-test

export REPLWM_PROJECT_ROOT="$PWD"
export REPLWM_SYSTEM_PATH="$PWD"/src/replwm/system.lisp
export REPLWM_ASDF_PATH="$PWD"/src/replwm/replwm.asd

XREPL_SHELL="$SHELL"
ZSH_PATH="$(command -v zsh)"
if [ -n "$ZSH_PATH" ]; then
    XREPL_SHELL="$ZSH_PATH"
fi
export XREPL_SHELL
